@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
    <div class="span5">
        <form id="addressform" class="form-inline" style="min-height: 600px" method="get" action="">
            <span class="help-block">Enter your email address and we will try to figure who provides your calendar service...</span>
            <label>Email address:</label>
            <input id="address" name="address" type="text" class="input-medium" placeholder="email@sample.com" />
            <button type="submit" class="btn btn-primary">Submit</button>
            <br/>
            <br/>
            <p style="color:grey;"><strong>Privacy Policy:</strong> When you enter your email address we store it in a logfile along with the information returned by the underlying email system. 
                We will not use this information for anything other than figuring out how to improve how this service works. 
                We will not send you email, nor will we provide your email address to any other parties.</p>
            <p style="color:grey;">This project is open source, licensed under the MIT License. You can find the full source on <a href="https://github.com/tig/Email2Calendar">GitHub</a>.</p>


        </form>
    </div>
    
    <div id="successpane" class="span7">
        <div class="alert alert-success">
            <h2>We think we figured it out!</h2>
            <p><strong>Your provider is:</strong> <span id="provider"></span></p>
            <p><span id="clue"></span></p>
        </div>
    </div>
    
    <div id="errorpane" class="span7">
        <div class="alert alert-error">
            <h2>We failed!</h2>
            <p><strong>We could not figure out who your provider is. Sorry!</strong></p>
            <p>Please tell us what your provider really is below. It will help us immensely. Thanks.</p>
            <h3>Reason:</h3>
            <p><span id="failurereason"></span></p>
        </div>
    </div>

    <div id="feedbackpane" class="span7">
        <div class="">
            <form id="feedbackform" class="well" method="post" action="">
                <fieldset>
                <h2>Please Help Us Improve This</h2>
                <span class="help-block">If we were wrong, or couldn't figure it out, please help us by telling us your provider.</span>
                <div class="control-group">
                    <div class="controls">

                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionExchange" value="Exchange" class="radios"/>
                            Microsoft Exchange or Office365
                        </label>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionHotmail" value="Hotmail" class="radios"/>
                            Windows Live/Hotmail
                        </label>
                        <label class="radio">
                            <input type="radio" name="optionsRadios"id="optionGoogle" value="Google" class="radios"/>
                            Google
                        </label>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionAOL" value="AOL" class="radios"/>
                            AOL
                        </label>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionYahoo" value="Yahoo" class="radios"/>
                            Yahoo!
                        </label>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionApple" value="Apple" class="radios"/>
                            Apple iCloud or MobileMe
                        </label>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionIMAP" value="IMAP" class="radios"/>
                            Generic IMAP
                        </label>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionDesktop" value="Desktop" class="radios"/>
                            I don't use an online service for my calendar; I use a desktop app.
                        </label>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionNoIdea" value="NoIdea" class="radios"/>
                            I have no idea. 
                        </label>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionOther" value="Other" checked="checked" class="radios"/>
                            None of the above (enter something that will help us below, please). 
                        </label>
                    </div>
                </div>
                <input id="feedback" name="feedback" type="text" class="input-medium" placeholder="enter your calendar provider" style="width:70%" />
                <button type="submit" class="btn btn-warning">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
    
    <div id="thankyou" class="span7">
        <div id="thankyou" class="alert alert-success">
            Thank you for helping out!
        </div>
    </div>
    
    <div id="detailspane" class="span7">
        <div class="well" id="moreinfo">
        </div>
    </div>

</div>


<script type="text/javascript">
    $(".collapse").collapse();
 
    jQuery.fn.center = function() {
        this.css("position", "absolute");
        this.css("top", (($(window).height() - this.outerHeight()) / 2) +
            $(window).scrollTop() + "px");
        this.css("left", (($(window).width() - this.outerWidth()) / 2) +
            $(window).scrollLeft() + "px");
        return this;
    };

    $(document).ready(function () {
        // Setup the ajax indicator
        $('body').append('<div id="ajaxBusy"><p><img src="Content/ajax-loader.gif"></p></div>');
        $("#ajaxBusy").center();
        $("#ajaxBusy").hide();

        // Ajax activity indicator bound to ajax start/stop document events
        $(document).ajaxStart(function () {
            //$('#ajaxBusy').center();
            $('#ajaxBusy').show();
        }).ajaxStop(function () {
            $('#ajaxBusy').hide();
        });

        $("#successpane").hide();
        $("#errorpane").hide();
        $("#feedbackpane").hide();
        $("#thankyou").hide();
        $("#detailspane").hide();

        $("#addressform").submit(function (e) {
            e.preventDefault();

            $("#successpane").hide();
            $("#errorpane").hide();
            $("#feedbackpane").hide();
            $("#thankyou").hide();
            $("#detailspane").hide();


            $.ajax({
                type: "GET",
                data: $(this).serialize(),
                cache: false,
                url: "/Home/GetProvider",
                success: function (data) {
                    $("#moreinfo").html("");
                    if (data.FailureReason != null) {
                        $("#failurereason").html(data.FailureReason);

                        $("#successpane").hide();
                        $("#errorpane").show();
                        $("#feedbackpane").show();
                    } else {
                        $("#provider").html(data.Provider);
                        $("#clue").html(data.Clue);
                        $("#errorpane").hide();
                        $("#successpane").show();
                        $("#feedbackpane").show();
                    }
                    if (data.Details.length > 0) {
                        $("#detailspane").show();
                        $("#moreinfo").append("<h3>Technical Details</h3><p>MX Records:</p>");
                        $.each(data.Details, function (n, elem) {
                            $("#moreinfo").append("<div id=\"ehlo-group" + n + "\><code></code></div>")
                                .append("<p>EHLO Response from <code>" + elem.MxRecord.Name + " : " + elem.MxRecord.ExchangeDomainName + "</code></p><pre id=\"ehlo" + n + "\"></pre>");
                            $.each(elem.EhloResponses, function (m, resp) {
                                $("#ehlo" + n).append(resp + "\r\n");
                            });
                        });
                    }
                },
                error: function (data) {
                    $("#failurereason").html("Blarg! The something bad happened in the network.");
                    $("#successpane").hide();
                    $("#errorpane").show();
                    $("#feedbackpane").hide();
                }
            });
        });


        $("#feedbackform").submit(function (e) {
            e.preventDefault();

            var selectedValue = $(".radios:checked").val();

            if (selectedValue == "Other")
                selectedValue = $("#feedback").val();

            var d = {
                'EmailAddress': $("#address").val(),
                'Provider': $("#provider").text(),
                'RealProvider': selectedValue
            };

            $.ajax({
                type: "POST",
                data: d,
                cache: false,
                url: "/Home/AddFeedback",
                success: function (data) {
                    $("#feedback").val('');
                    $("#optionOther").attr('checked', true);
                    $("#thankyou").show();
                }
            });
        });

    });

</script>