@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="span12">
        <div class="hero-unit">
            <h2>Success!</h2>
            <p>We were able to determine your email provider.</p>
            <br/>
            
        </div>
    </div>
</div>